<div class="sidebar">
    <div class="sidebar-content">
        <section class="flex-column">
            <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">
                
                <div>
                    <a ng-click="toggleLeft()" class="md-raised">
                        <img src="/image/arrow-sidebar.svg" height="30px" width="30px">
                    </a>
                </div>
                
            </md-sidenav>
            
            <md-content flex layout-padding class="sidebar-closed-icon" >
                
                <div>
                    <a ng-click="toggleLeft()" class="md-raised">
                        <img src="/image/arrow-sidebar.svg" height="30px" width="30px">
                    </a>
                </div>
                
                
            </md-content>
            
        </section>
        
    </div> 
</div>