<div class="container">
    <h3 class="text-center edificacao-selecionada">Selecione slots livres para adicionar Equipamentos</h3>
    <hr>
    <div class="flex-row row-center">
        <div class="flex-row center-center">
            <div class="rack">
                <div class="flex-row center-center rack__slot"  ng-class="{'rack__slot--selected': ativo}" ng-repeat="gaveta in rack.Gavetas" ng-style="tamanhoGaveta">
                    {{verificarTamanho(gaveta)}}
                    
                    <input id="{{gaveta.Id}}" ng-model="ativo" ng-disabled="posicaoInvalida(gaveta.Id) || (gaveta.Ocupado && ativo)" ng-click="aumentarTamanho(gaveta, ativo)" type="checkbox" ng-checked="gaveta.Ocupado">

                    <label for="{{gaveta.Id}}" ng-class="{'equipamento-invalido': posicaoInvalida(gaveta.Id)}">

                    <div ng-if="gaveta.Ocupado" class="rack__slot__hardware" ng-style="tamanhoGaveta"></div>   

                    </label>
                    <!-- <button ng-if="gaveta.ocupado" class="remover-equipamento-botao" ng-click="deletarEquipamento(gaveta)"><p>x</p></button> -->
                </div>
            </div>
        </div>
        <div ng-if="tamanho.length > 0 && !isAlterar" class="flex-column cadastro-container">
                <form id="cadastro-equipamento" novalidate name="cadastroEquipamentoForm" ng-submit="criarEquipamento(equipamento)">
                    <h4 class="text-center">Cadastro de Equipamento</h4>
                    <span class="campos-obrigatorios">(Todos os campos são obrigatórios)</span>
                    <div class="form-group">
                        <label for="descricao" class="campo-cadastro">Descrição</label>
                        <input  name="descricao" id="descricao" ng-model="equipamento.Descricao"  class="form-control" ng-class="{'enviar': enviar}" placeholder="Ex: teste" required ng-minlength="2" ng-maxlength="64">

                        <span class="campo-invalido" ng-show="cadastroEquipamentoForm.descricao.$invalid && cadastroEquipamentoForm.$submitted">Descrição é obrigatória</span>
                        
                        <span class="campo-invalido" ng-show="cadastroEquipamentoForm.descricao.$touched && cadastroEquipamentoForm.descricao.$error.minlength">Número de caracteres muito baixo</span>
                        
                        <span class="campo-invalido"  ng-show="cadastroEquipamentoForm.descricao.$touched && cadastroEquipamentoForm.descricao.$error.maxlength">Número de caracteres muito alto</span>   
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-5 col-md-5">
                            <label for="tensao" class="campo-cadastro">Tensão</label>
                            <input type="number" name="tensao" id="tensao" placeholder="Ex: 220" class="form-control" ng-class="{'enviar': enviar}" min="1" ng-model="equipamento.Tensao" required>

                            <div class="campo-invalido" ng-show="cadastroEquipamentoForm.tensao.$invalid && cadastroEquipamentoForm.$submitted">Por favor, insira uma tensão válida</div>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <label for="tamanho" class="campo-cadastro">Slots</label>
                            <input type="number" class="form-control" min="1" ng-model="tamanho.length" readonly>
                        </div>
                    </div>
                    <md-button class="botao-equipamento botao-sucesso" ng-disabled="tamanho.length === 0" type="submit">
                            Cadastrar
                    </md-button>
                </form>
        </div>
        <div ng-if="isAlterar" class="flex-column col-md-4 col-sm-6 cadastro-container">
            <form id="editar-equipamento" novalidate name="editarEquipamentoForm">
                <h4 class="text-center">Mover Equipamento</h4>
                <span class="campos-obrigatorios">(Por favor, faça a seleção dos campos na ordem que segue)</span>
                <h3>{{equipamentoEdicao.descricao}}</h3>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="andar" class="campo-cadastro">Andar</label>
                        <select class="form-control" name="andar" id="andar" ng-click="buscarAndares(equipamentoEdicao)" ng-model="andar" required>
                            <option ng-repeat="andar in andares"  value="{{andar.Id}}">{{andar.NumeroAndar}}</option>
                        </select>            
                        <span class="campo-invalido" ng-show="editarEquipamentoForm.andar.$error.required && editarEquipamentoForm.$submitted">É necessário selecionar um andar</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="sala" class="campo-cadastro">Sala</label>
                        <select class="form-control" name="sala" id="sala" ng-click="buscarSalas(equipamentoEdicao, andar)" ng-model="sala" required>
                            <option ng-repeat="sala in salas"  value="{{sala.Id}}">{{sala.NumeroSala}}</option>
                        </select>            
                        <span class="campo-invalido" ng-show="editarEquipamentoForm.sala.$error.required && editarEquipamentoForm.$submitted">É necessário selecionar uma sala</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="rack" class="campo-cadastro">Rack</label>
                        <select class="form-control" name="rack" id="rack" ng-click="buscarRacks(equipamentoEdicao, sala)" ng-model="equipamentoEdicao.RackMover" required>
                            <option ng-repeat="rack in racks"  value="{{rack.Id}}">{{rack.Id}}</option>
                        </select>            
                        <span class="campo-invalido" ng-show="editarEquipamentoForm.rack.$error.required && editarEquipamentoForm.$submitted">É necessário selecionar um rack</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <md-button class="botao-equipamento botao-sucesso" ng-click="moverEquipamento(equipamentoEdicao)">
                                Mover
                        </md-button>
                        <md-button class="botao-equipamento botao-cancelar" ng-click="deletarEquipamento(equipamentoEdicao)">
                                Deletar Equipamento
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

