html, body {
    margin: 0;
    padding: 0;
    background-image: url("/image/background-pattern.jpg");
    background-size: 30%;
    font-family:'Roboto', sans-serif;    
}

.flex-row {
    display:flex; 
    flex-direction: row; 
}

.flex-column {
    display:flex; 
    flex-direction: column; 
}
  /*
    centraliza horizontal e vertical. 
  */
.center-center {
    justify-content: center; 
    align-items: center; 
}
  /*
    centraliza horizontalmente.         
  */
.row-center {
    justify-content: center;
}
  /*
    centraliza verticalmente.         
  */
.column-center {
    align-items: center; 
}

.row-end {
    justify-content: flex-end;
}

.text-header-title {
    margin-top: 5px;
    margin-bottom: 10px;
    color:#42464F;
    padding: 0 15px;
    border-bottom: .1px solid #42464F;
}

a {
    text-decoration: none;
    color: #42464F;
    cursor: pointer; 
}


.logo-icon,{
    margin: 3px 0 0 15px;
    font-size: 10px;
}

.container-header {
    width: 100%;
    height: 50px;
    background: white;
}

.user-image {
    margin: 0 30px;
}

#dropdown-header {
    min-width: 0px; 
    right:40%;
    padding: 5px; 
    top: 120%; 
}

#button-login {
    padding: 3px;
    cursor: pointer;
}

.home-wrapper { 
    position: absolute;
    width: calc(100% - 400px);
    height: 100vh;
    overflow: hidden;
}

.home-logo-container {
    margin-top: 140px;
    padding-right:60px;
}

.home-titulo {
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 45px;
    width: 400px;
    text-align: center;
}

.descricacao-site-container {
    font-size: 18px;
    height: 150px;
    width: 400px;
    font-weight: 500;
    color: #a5a9ac;
    text-align: center;
}

.sidebar-closed-icon,
.sidebar-content,
.md-sidenav-left,
.carousel {
    background-color: #42464F;
    box-shadow: 0px; 
}

md-sidenav,  
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active{
    max-width: 600px !important;
}

.md-sidenav-left {
    width: 600px !important;
}

.sidebar-items{
    margin:5px;
}

.sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background: #42464F;
    transform: translateX(-300px);
    transition-duration: .3s;
    z-index: 9;
    padding-top: 50px;
  }

.sidenav-open {
    transform: translateX(0);
}

.sidenav-image-open{
    transform: rotate(180deg);
    transition-duration: .5s;
}
  
.conteudo {
    padding-left: 20px;
    transition-duration: .3s;
}
  
.sidenav-open + .conteudo {
    padding-left: 320px;
}

.sidebar-busca {
    position: relative;
    margin: 0 15px;
}

.carousel-item {
    margin: 15px;
    /* margin-left: 40px; */
    position: relative;
   
}

sala-planta {
    display: block;
    position: absolute;
    width:50%;
    height:50%;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.slot:hover {
    fill: #909090;
}

.sala:hover {
    fill: #909090;
}

.imagem-carousel {
    margin-bottom:5px;
    filter: opacity(50%);
}

.imagem-carousel,
.carousel-caption,
.imagem-delete,
.botao-voltar-container-ativo  {
    cursor: pointer;
}

.busca-sidebar-wrapper {
    margin-bottom: 40px;
}

.busca-icone {
    position: absolute;
    left: 20px;
    top: 11px;
    z-index: 999;
    color: #FBB041;
}

.botoes-tela-edificacao-container {
    right: 30px;
    top: 80px;
    color: #fff;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.botao-voltar-container-ativo,
.botao-voltar-container  {
    font-size: 2em;
    margin-bottom: 1px;
    align-items: center;
    border-radius: 2px;
    width: 2em;
    background:#42464F;
    height: 2em;
    color: #fff;
    border: 0;
    position: relative;
    right: 40px;
    text-align: center;
}
.botao-voltar-container{
    opacity: 0;
    animation: botao-voltar-desaparecer 1s;
}

.botao-voltar-container-ativo{
    opacity: 1;
    animation: botao-voltar-aparecer 1s;
}

.botao-voltar-container-ativo:hover,
.botao-voltar-container:hover {
    background:#4A4E55;
}

@keyframes botao-voltar-desaparecer {
    0%{
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes botao-voltar-aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.edificacao-busca {
    font-size: 14px;
    height: 35px;
    background: transparent;
    min-width: 150px;
    width: 100%;
    color: white;
    border: 0px;
    padding-left: 50px;
    border-bottom: 1px solid #736f6f
}

#carousel .carousel-control.right,
#carousel .carousel-control.left {
    transform: translatex(125px) rotate(90deg);
    left: 0;
    right: 0;
    margin-top: -20px;
    margin-right: -20px;
    background-image: none;
}


#carousel .carousel-control .glyphicon-chevron-left,
#carousel .glyphicon-chevron-right {
    font-size: 20px;
}


#carousel .carousel-control.left {
    bottom: 100%;
    margin-bottom: 10px;
    margin-left: -20px;
}

#carousel .carousel-control.right {
    top: 100%;
    margin-top: 10px;
    left: 0;
    margin-left: -20px;
}

#carousel .carousel-indicators {
    position: absolute;
    bottom: 50%;
    left: 15px; 
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    transform: rotate(90deg);
}
.separador {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 0;
    width: 80%;
    border-top: 1px solid #7e8596a3
}


.cadastro-numero-andares {    
    height: 180px;
    width: 300px;
    position:relative;
    margin-top: 30px;
}

.cadastro-numero-andares-lotado:after {
    content: "+15";
    display: flex;
    align-items: center;
    justify-content: center;
    background: #42464F;
    border: .5px solid;
    position: absolute;
    border-radius: 5px;
    color: #FBB041;
    height: 40px;
    width: 40px;
    top: -50px;
    left: -10px
}

.cadastro-imagem {
    transform: rotateX(70deg) rotateZ(-45deg);
    position: absolute;
}

.botao-flutuante-adicionar,
.botao-flutuante-cancelar {
    top: auto;
    right: 124px;
    bottom: 20px;
    left: auto; 
    position:fixed;  
    z-index: 20;
    line-height: 56px;  
    min-width: 0;
    width: 56px;
    height: 56px;
    font-size: 18px;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    border: 0;
    background-color: #FBB041;
    color: rgb(255,255,255);
}

.botao-flutuante-cancelar {
    background: rgb(255,82,82);
}

.botao-flutuante-adicionar:hover {
    background-color: #FB9B0F;
}

.botao-flutuante-cancelar:hover,
.remover-equipamento-botao:hover {
    background: rgb(255, 65, 65);
}


.campos-obrigatorios { 
    font-size: 13px;
}

.cadastro-container,
.edificacao-cadastro-container {
    background: linear-gradient(to top, #b4b4b4, #ddd);
    border-radius: 2px;
    max-width: 700px;
    padding: 30px 50px;
    box-sizing: border-box;
    width: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    animation: .5s dialogo;  
}
.edificacao-cadastro-container {
    margin: 45px auto 0;
    position: absolute;
}

.cadastro-container {
    max-width: 400px;
    margin-left: 10px;
    max-height: 300px; 
}

@keyframes dialogo {
    0% {
        opacity: 0; 
    }

    100% {
        opacity: 1;
    }
}

.edificacao-wrapper {
    top: 0;
    height: calc(100vh - 50px);
}

.campo-cadastro {
    font-size: 17px;
}

#cadastro-form .enviar {
    border: 1px solid #FF3C3C;
}

.campo-invalido {
    font-size: 13px;
    display:block;
    color: #EC3535;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    border-bottom: 5px solid #FFFFFF;
    bottom: 10px;
    left: 40px;
    bottom: 30px;   
}

.edificacao-container {
    width:100%;
    height:100%;
    position: relative;
    pointer-events: none;
    perspective: 3500px;
    perspective-origin: 0% 50%;
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.base  {
    width: 65vmin;
    height: 50vmin;
    margin: -48vmin 0 0 -68vmin;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    
}

.base, 
.andares {
    transform: rotateX(70deg) rotateZ(-45deg) translateZ(-15vmin);
    position: absolute;
    top: 80%;
    left: 70%;
}

.base-imagem {
    opacity: 0.3;
    max-width: 100%;
    display: block
}

.andares {
    width: 52vmin;
    height: 50vmin;
    margin: -50vmin 0 0 -64vmin;
    transition: transform 0.3s;
    transform-style: preserve-3d
}

input[type="checkbox"] {
    display:none; 
}

.equipamento-selecionado {
    margin-left: 10px;   
}

.texto-equipamento-disponivel {
    font-size: 10px;
    position: absolute;
    left:45%;
    top: 35%;
}

input[type="checkbox"]:disabled + .equipamento-item {
    cursor: not-allowed;
}

.equipamento-image {
    font-size: 15px;
}

*:active, *:focus {
    outline:none;
} 


.rack-content{
    position: relative;
    background: linear-gradient(to left,#42464f, #2e2e2e);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
    border: 0px;
}

element.style {
    border: 0px;
}

.remover-equipamento-botao > p {
    position:relative; 
    transform: translateY(-15%) translateX(-190%);
}

.andar {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    transition: opacity 1s, transform 1s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transform-style: preserve-3d
}
.imagem-delete {
    opacity: .6; 
    margin-top: 6px;
    transition: .3s;
}

.imagem-delete:hover {
    opacity: 1;
    animation: mover-lixeira 1s linear infinite; 
}

.imagem-delete {
    pointer-events: all;
}

@keyframes mover-lixeira {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }

    75% {
        transform: rotate(-45deg);
    }
}


.imagem-andar {
    background: none;
    border: none;
    transform-origin: 50% 50% 0px;
    height: 100%;
    width:100%;
    transition-delay: 0.45s;
}

.remover-andar {
	transform: translateZ(15vmin) rotate3d(0,0,1,20deg);
}

.edificacao-detalhes {
    position: absolute;
    right: 0;
    width: 200px;
    min-height: 100vh;
    padding: 5em 0 1em;
    background: #fff;
}

.andar-numero {
    transition-delay: 0.45s;
    position: absolute;
    color: #42464F;   
}

.cadastro-andar-header {
    background: #FBB041;
}

md-content {
    margin: 10px;
}

md-content, 
.cadastro-andar-container {
    background-color: #42464F;
}

#cadastro-andar input,
#cadastro-sala input,
#cadastro-rack input,
#nome,
#autocomplete, 
md-input-container:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container:not(.md-input-invalid).md-input-focused label {
    border-color: #FBB041;
    color:white;
    width: 250px;
}

#nome,
#autocomplete, 
md-input-container:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container:not(.md-input-invalid).md-input-focused label {
    width: 500px;
}

md-input-container.md-default-theme.md-input-invalid label, 
md-input-container.md-input-invalid label, 
md-input-container.md-default-theme.md-input-invalid .md-input-message-animation, 
md-input-container.md-input-invalid .md-input-message-animation, 
md-input-container.md-default-theme.md-input-invalid .md-char-counter,
 md-input-container.md-input-invalid .md-char-counter {
     color: white;
 }
 
 #cadastro-andar input,
 #cadastro-sala input,
 #cadastro-rack input,
 md-input-container label,
 md-input-container:not(.md-input-invalid).md-input-focused .md-input, 
 md-input-container:not(.md-input-invalid).md-input-focused label,
 .texto-andar {
     color: white;
     font-weight: 500;
}
    
.botao-cancelar,
#cadastro-andar .botao-cancelar,
#cadastro-sala .botao-cancelar,
#cadastro-rack .botao-cancelar, 
#cadastro-edificacao .botao-cancelar{
    border: 0; 
    border: 1px solid #fa7777;
    color: #ffe8e8;
    text-transform: inherit;
}

.botao-sucesso,
#cadastro-andar .botao-sucesso,
#cadastro-sala .botao-sucesso,
#cadastro-rack .botao-sucesso, 
#cadastro-edificacao .botao-sucesso { 
    border: 0; 
    border: 1px solid #90f883ba;
    color: #eef9ea;
    text-transform: inherit;
}

.botao-cancelar-andar {
    background: white;
}


.edificacao-selecionada {
    font-size: 26px;
    color: #42464f;
    font-weight: 600;
    padding: 0 15px; 
    border-bottom: 1px solid #FBB041;
    text-align: center;
}

.edificacao-detalhes-andar{
    position: absolute;
    top: 35%;
    border-radius: 3px;
    background: rgba(255,255,255,0.87);
    text-align: start;
    right: 0;
    margin-right: 32px;
    box-shadow: 7px 3px 3px 3px rgba(143, 143, 143, 0.26);
    border-bottom: 2px solid #fbb041;
    padding: 0 5px;
    transition: 1s;
}

.edificacao-detalhes-andar > div > h6 {
    font-size: 17px;
    font-weight: 550;
}


[data-tooltip]:after {
    content:attr(data-tooltip);
    position:absolute; 
    padding: 2px;
    font-size: 40px; 
    transition-delay: 0.45s;
    border-radius: 2px;
    white-space: nowrap;
    transform: translateX(-80%); 
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

@media screen and (max-width: 65.625em), screen and (max-height: 40.625em) {
	.edificacao-wrapper {
		width: 100vw;
    }

    .edificacao-detalhes{
        width: 100vw;
        right: 100%;
        left: auto;
    }
}


 .andar:hover .border-image {
    fill: #909090;
}

.vertical .carousel-inner {
    height: 100%;
}

.vertical .carousel-inner > .item {
    transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .vertical .carousel-inner > .item {
        transition: transform .6s ease-in-out;
        backface-visibility: hidden;
        perspective: 1000;
    }
    .vertical .carousel-inner > .item.next,
    .vertical .carousel-inner > .item.active.right {
        top: 0;
        transform: translate3d(0, 100%, 0);
    }
    .vertical .carousel-inner > .item.prev,
    .vertical .carousel-inner > .item.active.left {
        top: 0;  
        transform: translate3d(0, -100%, 0);
    }
    .vertical .carousel-inner > .item.next.left,
    .vertical .carousel-inner > .item.prev.right,
    .vertical .carousel-inner > .item.active {
        top: 0;
        transform: translate3d(0, 0, 0);
        }
}

.vertical .carousel-inner > .active {
    top: 0;
}

.vertical .carousel-inner > .next,
.vertical .carousel-inner > .prev {
    top: 0;
    height: 100%;
    width: auto;
}
.vertical .carousel-inner > .next {
    left: 0;
    top: 100%;
    padding-left: 54px;   
}

.vertical .carousel-inner > .prev {
    left: 0;
    padding-left: 54px; 
    top: -100%
}
.vertical .carousel-inner > .next.left,
.vertical .carousel-inner > .prev.right {
    top: 0;
}
.vertical .carousel-inner > .active.left {
    left: 0;
    top: -100%;
}

.vertical .carousel-inner > .active.right {
    left: 0;
    top: 100%;
}

#map {
    height: 100%;
  }
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-size: 13px;
    font-weight: 300;
}


.rack label {
    margin:0; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}

.rack {
    padding: 15px 10px;
    max-width: 321px;
    background: #eee;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}
  
.rack__slot {
    min-height: 53px;
    background: #424242;
    margin-top: 10px;
    position: relative;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-duration: .4s;
    border-radius: 4px;
}

.rack__slot--selected + .rack__slot--selected {
    margin-top: 0px;
}

.rack__slot--selected + .rack__slot--selected,
.rack__slot--selected + .rack__slot--selected:before,
.rack__slot--selected + .rack__slot--selected:after {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.rack__slot:not(.rack__slot--selected) + .rack__slot--selected,
.rack__slot:not(.rack__slot--selected) + .rack__slot--selected:after,
.rack__slot:not(.rack__slot--selected) + .rack__slot--selected:before {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.rack__slot--selected:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #424242;
    z-index: 0;
    border-radius: 4px;
}

.rack__slot:hover, .rack__slot--selected {
    cursor: pointer;
}
  
.rack__slot:after {
    content: '';
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 255, 131, 0.4), rgba(0, 255, 131, 0.4)),
                url('/image/equipamento.svg');
    width: 300px;
    height: 53px;
    background-size: 100%;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.4)) brightness(1.3);
    display: block;
    transition-duration: .4s;
    z-index: 1;
    border-radius: 4px;
}

.rack__slot .equipamento-invalido {
    background: #f00;
    opacity: 0.3;
    cursor: not-allowed;
}

.rack__slot:hover:after,
.rack__slot--selected:after {
    opacity: 1;
}

.rack__slot__hardware {
    background: url(https://openclipart.org/download/216936/2U-Server.svg);
    width: 300px;
    height: 56px;
    background-size: 100%;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.4)) brightness(1.3);
}

.rack__slot:hover

rack__slot:after {
    background: transparent;
}

.rack__slot:hover {
    transform: scale(1.03); 
    z-index: 2; 
}
