<div class="inner-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 login-form">
                  <h3>Datacenter Map</h3>
                  <p>Insira seu email e senha para continuar:</p>
                  <form name="formLogin" ng-submit="login(usuario)">
                    <div class="campos-login form-group">
                      <label for="form-username">Email</label>
                      <input type="text" ng-model="usuario.username" class="form-control" id="form-username">
                      <label for="form-password">Senha</label>
                      <input type="password" ng-model="usuario.password" class="form-control" id="form-password">
                    </div>
                    <button type="submit" value="Login" class="btn">Login</button>
                  </form>
            </div>
        </div>
    </div>
</div>
