<section class="section cadastro-login-section">
      <div class="logo-empresa flex-row row-center"> 
        <h1 class="home-titulo">Data Center Map</h1>
      </div>
      <hr style="border-top:1px solid #fbb041">
      <div class="flex-row row-center">

  <form class="form-login" novalidate name="formLogin" ng-submit="login(usuario)">
    <div class="columns is-mobile is-centered">
      <div class="column login-form is-narrow is-one-third">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" ng-model="usuario.username" type="email" placeholder="usuario@email.com">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Senha</label>
          <div class="control has-icons-left has-icons-right">
            <input ng-model="usuario.password" class="input" type="password">
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>

        <div class="field is-grouped botoes">
          <div class="control">
            <input type="submit" class="btn" value="Login"/>
            <input type="button" class="btn" value="Cadastro"/>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

</section>
