<div class="flex-row edificacao-wrapper">
    <map-sidebar entidades='edificacoes' tipo-atual='tipoEntidade'></map-sidebar>
    <button type="button" class="botao-voltar-container" ng-class="{'botao-voltar-container-ativo': detalhe}" ng-click="voltar()">
            <img ng-src="/image/andares-voltar.svg" height="30" width="30">
    </button>
    <div class="edificacao-container">
        <div class="base">
            <img class="base-imagem" src="/image/base-imagem.svg" alt="">
        </div>
        <div class="andares" ng-repeat="andar in andaresTela">
            {{adicionarAndar($index)}}
            <div andar-planta class="andar imagem-andar" ng-model="andar" ng-style="andarStyle" ng-click="listarSalas(andar.Id); selecionarAndar(andar)"></div>
            <div class="andar-numero" data-tooltip="A {{$index+1}}" ng-style="andarStyle">
            </div>
        </div>
    </div>
</div>
