<div class="flex-column edificacao-cadastro-container">
    <div>
        <form id="cadastro-form" novalidate name="cadastroEdificacaoForm" ng-submit="criar(edificacao)">
                <div> 
                <h3>Cadastro Edificacao</h3>
                <span style="font-size:13px">(Todos os campos são obrigatórios)</span>
                </div>
                <hr>
                <div class="form-group">
                    <label for="nome" class="campo-cadastro">Nome Edificacao</label>
                    <input  name="nome" id="nome" ng-model="edificacao.nome"  class="form-control" ng-class="{'enviar': enviar}"placeholder="Ex: Framework" required ng-minlength="2" ng-maxlength="64">
               

                    <span class="campo-invalido" ng-show="cadastroEdificacaoForm.nome.$invalid && cadastroEdificacaoForm.$submitted">Nome obrigatório</span>
                    
                    <span class="campo-invalido" ng-show="cadastroEdificacaoForm.nome.$touched && cadastroEdificacaoForm.nome.$error.minlength">Número de caracteres muito baixo</span>
                    
                    <span class="campo-invalido"  ng-show="cadastroEdificacaoForm.nome.$touched && cadastroEdificacaoForm.nome.$error.maxlength">Número de caracteres muito alto</span> 
                </div>
                <div class="form-group">
                    <label for="endereco" class="campo-cadastro">Localização</label>
                    <input data-type="google-autocomplete" type="text" name="nome" id="edificacao" ng-model="endereco"  class="form-control" ng-class="{'enviar': enviar}"placeholder="Ex: Framework" required ng-minlength="2" ng-maxlength="64">
                    <input id="txtPlaces" class="controls" type="text"
                    placeholder="Enter a location">
                </div>
                <div class="form-group">
                    <label for="numeroAndares" class="campo-cadastro">Numero de andares</label>
                    <span>{{edificacao.andares}}</span>
                    <div class="flex-row row-end"> 
                        <button type="button" class="btn btn-primary" ng-click="adicionar()">+</button> 
                        <button type="button" class="btn btn-primary" ng-click="remover()">-</button>
                        <input ng-model="edificacao.numeroAndares" type="number" min="1"> 
                    </div>
                    <input data-type="google-autocomplete" type="text" name="nome" id="edificacao" ng-model="endereco"  class="form-control" ng-class="{'enviar': enviar}"placeholder="Ex: Framework" required ng-minlength="2" ng-maxlength="64">
                </div>
                


                <button type="submit" class="btn btn-primary">enviar</button> 
        </form>
    </div> 
</div>