<div uib-carousel id="carousel"class="vertical" active="active">
    <div uib-slide ng-repeat="entidade in entidades | filter: busca as results " index="entidade.id" >
        <div class="carousel-item" ng-click="buscarEntidade(entidade)" >
            <img class="imagem-carousel" ng-src="{{entidade.image}}" heigh="150px" width="150px">
        </div>
        <div class="carousel-item" ng-click="buscarEntidade(entidades[getSecondIndex($index + 1)])">
            <img class="imagem-carousel"
             ng-src="{{entidades[getSecondIndex($index + 1)].image}}" heigh="150px" width="150px">
                <div class="carousel-caption">
                    <h4>Edificacao {{entidades[getSecondIndex($index + 1)].id}}</h4>
                </div>
            <div ng-if="results.length === 0">
                <h2>Nenhum resultado foi encontrado</h2>
            </div>
        </div>
        <div class="carousel-item" ng-click="buscarEntidade(entidades[getSecondIndex($index + 2)])" >
            <img class="imagem-carousel"  ng-src="{{entidades[getSecondIndex($index + 2)].image}}" heigh="150px" width="150px">
                <div class="carousel-caption">
                    <h4>Edificacao {{entidades[getSecondIndex($index + 2)].id}}</h4>
                </div>
        </div>
    </div>
</div>