<form class="busca-sidebar-wrapper">
        <fieldset>
            <div class="sidebar-busca">
                <i class="fa fa-search busca-icone"></i>
                <input class="edificacao-busca" type="text" ng-model="busca" placeholder="Busque edificações" />
            </div>                        
        </fieldset>
</form>
<div uib-carousel id="carousel" class="vertical" active="active">
    <div uib-slide ng-repeat="entidade in entidades | filter: {Nome: busca}" index="$index" >
        <div class="carousel-item" ng-click="buscarEntidade(entidade)">
            <img class="imagem-carousel" ng-src="image/buildings.svg" heigh="115px" width="115px">
            <div class="carousel-caption">
                <h5 class="texto-carousel">{{entidades[$index].Nome}}</h5>
            </div>
        </div>
        <div class="carousel-item" ng-click="buscarEntidade(entidades[getSecondIndex($index + 1)])">
            <img class="imagem-carousel"
             ng-src="image/buildings.svg" heigh="115px" width="115px">
            <div class="carousel-caption">
                <h5 class="texto-carousel">{{entidades[getSecondIndex($index + 1)].Nome}}</h5>
            </div>
        </div>
        <div class="carousel-item" ng-click="buscarEntidade(entidades[getSecondIndex($index + 2)])" >
            <img class="imagem-carousel"  ng-src="image/buildings.svg" heigh="115px" width="115px">
            <div class="carousel-caption">
                <h5 class="texto-carousel">{{entidades[getSecondIndex($index + 2)].Nome}}</h5>
            </div>
        </div>
    </div>
</div>